<!-- interpolation  -->
{{title}}
<!-- directive:fonctionnalité predefinie :ngfor/ngif -->
<table border="1">
    <tr>
        <th>reference</th>
        <th>titre</th>
        <th>entreprise</th>
        <th>etat</th>
        <th>Action</th>

    </tr>
    <tr *ngFor="let p of emploitList">
        <td>{{p.reference}}</td>
        <td>{{p.titre}}</td>
        <td>{{p.entreprise}}</td>
        <td>{{p.etat}}</td>
        
        <td>
            <button [disabled]="p.etat==false">Postuler</button>
        </td>
    </tr>
</table>
<button (click)="Bilan2()">Bilan</button>
<div *ngIf="test==true">
        {{nombre}}
</div>
<br>
<input [(ngModel)]="textsearch" name="search">
<button (click)="Search()">
    Search
</button>