<!-- interpolation  -->
{{title}}
<!-- directive:fonctionnalité predefinie :ngfor/ngif -->
<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
        
        <th>Action</th>

    </tr>
    <tr *ngFor="let p of emploitList">
        <td>{{p.reference}}</td>
        <td>{{p.titre}}</td>
        <td>{{p.entreprise}}</td>
        <td>{{p.etat}}</td>
        
        <td>
            <button [disabled]="p.etat==false">Postuler</button>
        </td>
    </tr>
</table>
